.dcll-wrapper {
    position: relative;
    width: 100%;
    height: 0;
}

.dcll-wrapper .dcll-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* A theme that works without JavaScript should have a `no-js` class, similar the default WordPress themes. */
.no-js .dcll-placeholder {
    display: none;
}
